{% extends "layouts/base.html" %}

{% block content %}
    {% include "includes/components/navbar.html" %}
    <div class="page">
        <div class="page-header pt-4 py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="page-title">
                            {{ model.name }}
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <div class="page-actions text-right">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container">
            <div class="container">
                <div class="mt-4">
                    {% with fields = model.fields, data = model.data %}
                        {% include "includes/components/list.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}