<div class="list table-responsive">
    <table class="table table-bordered no-margin">
        <thead class="bg-light">
            {% for f in fields %}
                {% if f.name != '_ID' %}
                    <th>
                        {{ f.name | capitalize }}
                    </th>
                {% endif %}
            {% endfor %}
        </thead>
        <tbody>
            {% for d in data %}
                <tr>
                    {% for key, value in d.items() %}
                        {% if key != '_ID' %}
                            <td data-fieldname="{{ key }}">{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>