<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="https://git.io/achilles" target="_blank">
            <img src="http://bit.do/achilles-rasquinha-logo" height="20"/>
        </a>
    </div>
</nav>